@charset "UTF-8";
.table-container {
  width: 100%;
  max-width: 960px; /* элемент не растянется больше этого значения */
  margin: 40px auto 40px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.table {
  border-collapse: collapse;
  border: 1px solid black;
  /* закрепить заголовок при скролле */
}
.table__date {
  width: 60px;
}
.table__wellBeing {
  width: 300px;
}
.table__pressure {
  width: 300px;
}
.table__rest, .table__pills {
  width: 200px;
}
.table th,
.table td,
.table tr {
  border: 1px solid black;
}
.table th {
  padding: 10px;
}
.table td {
  height: 300px;
}
.table td:first-child {
  text-align: center;
}
.table td:nth-child(2) {
  vertical-align: top;
}
.table__div-in-textarea {
  height: 330px;
  display: flex;
  justify-content: space-between;
}
.table__div-in-textarea__with-content {
  height: 330px;
  word-break: break-all;
  font-size: 16px;
  overflow: auto;
  padding: 5px;
  justify-content: space-between;
}
.table__div-in-textarea__with-content--wellBeing {
  height: 330px;
  word-break: break-all;
  font-size: 16px;
  overflow: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.table__textarea {
  width: 101%;
  height: 294px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 5px 5px 4px;
  resize: none;
  background-color: lightgreen;
  line-height: 150%;
}
.table__textarea--wellBeing {
  height: 294px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 5px 5px 4px;
  resize: none;
  background-color: lightgreen;
  line-height: 150%;
}
.table__mood-icon {
  padding: 3px;
  margin-left: auto;
}

.button-agree {
  width: 25px;
  position: absolute;
  top: 298px;
  left: 10px;
  height: 25px;
  background-image: url("../../../assets/icons/buttons/agree.png");
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.button-remove {
  width: 25px;
  position: absolute;
  top: 298px;
  left: 10px;
  height: 25px;
  background-image: url("../../../assets/icons/buttons/remove.png");
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.button-clock-change {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background-image: url("../../../assets/icons/clock/clock-change.png");
  background-size: 100% 100%;
}

.button-clock-change-reset {
  width: 20px;
  height: 20px;
  margin-left: 7px;
  background-image: url("../../../assets/icons/clock/clock-change-reset.png");
  background-size: 100% 100%;
}

.button-clock-set {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background-image: url("../../../assets/icons/clock/clock-set.png");
  background-size: 100% 100%;
}

.button-clock-ok {
  width: 30px;
  height: 20px;
  margin-left: 10px;
  background-color: rgb(28, 240, 28);
  border: 1px solid black;
  border-radius: 25px;
}

.button-clock-ok__disabled {
  width: 30px;
  height: 20px;
  margin-left: 10px;
  background-color: rgb(184, 190, 184);
  border: 1px solid black;
  border-radius: 25px;
}

.weekly-information {
  max-width: 1000px;
  height: 300px;
  margin: 50px 0px 50px 0px;
  border: 1px solid black;
}

.weekly-information--wrapper {
  display: flex;
}

.weekly-information div {
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
}

.button-moreinfo {
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: white;
  background-image: url("../../../assets/icons/buttons/more-info.png");
  background-size: 100% 100%;
}/*# sourceMappingURL=TableUnited2.module.css.map */