/* select and dropdown */
/* .div4ik {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul-list {
  display: flex;
  list-style: none;
  gap: 15px;
}

.list-item {
  padding: 40px;
  cursor: pointer;
}

.list-item.active {
  border-bottom: 1px solid black;
}

.content {
  display: none;
}
.active-content {
  display: flex;
}

.select-selected--option {
  width: 150px;

  border: 1px solid black;
  padding: 10px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-options {
  width: 150px;
  /* border: 1px solid black; */
/* padding: 10px; */
/* position: absolute;
  z-index: 999;
  background-color: white;
  top: 45px;
}

.select-options > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.select-options li {
  padding: 10px;
   background-color: indianred; 
border: 1px solid black;

  width: 150px;
}

.select-options li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.selected {
  background-color: rgba(0, 0, 0, 0.5);
} */

.clockradio {
  /* padding: 0px;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  opacity: 40%;
  cursor: pointer;
  transition: transform 0.8s; */
}

.clockarrow {
  /* position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  width: 150px;
  height: 5px;
  transform-origin: 0% 50%; */
  /* transform: rotate(90deg); */
}

.select-options ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.select-options ul li {
  padding: 0;
  margin: 0;
}
