.react-calendar__tile--hasActive {
  background-color: #006edc !important;
  color: #fff !important;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;

  &__pics-before-button {
    position: absolute;
  }

  &__pic {
    margin-left: 10px;
    width: 38px;
    height: 38px;
  }

  &__buttons {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
